body{
    overflow-x: hidden;
}

.header-img{
    max-width: 100%;
    margin-top:-11em;
    margin-bottom: 4em;
}

::-webkit-scrollbar {width: 0;}

@media (max-width: 770px){
    .header-img {
        display: none;
    }
    .mainInfo{
        margin-top:2em;
    }
}

hr{
    height: 3px;
    margin: 3em 0;
    background-image: linear-gradient(90deg, #CE3737 , #4B40E1);
}

.fontWhite{
    color:white;
}
.fontWhite:hover{
    color: white;
}
.talkLogo{
    font-weight: bolder;
    font-size:6em;
}

.headerNavBtn{
    font-size:2em;
}

.mainInfo{
    font-size: 1.5em;
}

.btnTalk{
    background-color: rgba(0,0,0,0);
    color:white;
    font-size: 2em;
    padding: 0.8em 1em;
    border-radius: 0.9em; 
    border:3px solid white;
    margin-bottom: 10em;
}
.btnTalk:hover{
    color:white;
    text-decoration: none;
    /* border:2px solid #161616; */
    border:none;
    background-image: linear-gradient(90deg, #CE3737 , #4B40E1);
}

.footerTalk{
    position: relative;
    top:20vh;
    background-color: #262626;
}

.footerTalk a{
    font-size: 1em;
}

.copyright{
    color:#777777;
}